div{
    border: 20px solid red;
    margin: 20px;
    padding: 20px ;

}
.box{
    border: 20px solid red;
    margin: 10px 20px 30 px 40px;
    padding: 20px ;
    width: 200px;
    background-color: lightseagreen;
    position:static;
     
}